@media screen and (width>=1349px) {
    main {
        margin: 15px 0;
    }

    .card {
        max-width: 1200px;
        margin: auto;
        grid-template-columns: 280px 280px 280px 280px;
    }

    .box {
        height: 250px;
    }

    .author {
        grid-row: 1 /3;
    }

    .personal {
        height: 355px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .name h1 {
        font-size: 44px;
    }

    .options {
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
    }

    .work-img {
        height: 42px;
        background-position: 90% 30%;
    }

    .study-img {
        height: 42px;
        background-position: 90% 29%;
    }

    .play-img,
    .exercise-img {
        height: 42px;
        background-position: 90% 21%;
    }

    .social-img {
        height: 42px;
        background-position: 90% 27%;
    }

    .care-img {
        height: 42px;
        background-position: 90% 55%;
    }

    .data {
        gap: 35px;
        height: 210px;
    }

    .time {
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        justify-content: center;
    }
}